@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content; 
  animation: scroll 20s linear infinite; 
}

/* Pause pas di-hover */
.group:hover .animate-scroll {
  animation-play-state: paused;
}

/* Untuk Chrome, Safari, dan Opera */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar tipis */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background track transparan */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Warna scrollbar (abu-abu soft) */
  border-radius: 20px; /* Sudut membulat */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Warna saat di-hover */
}