@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content; 
  animation: scroll 20s linear infinite; 
}

/* Pause pas di-hover */
.group:hover .animate-scroll {
  animation-play-state: paused;
}